<!-- <p id="notice"><%= notice %></p> -->

<div class="users_bg">
  <div class="user_top_bg">
    <div class="user_top_img"></div>
    <h1>Colaboradores</h1>
  </div>
  <table class="users_list">
    <thead>
      <tr class="users_stuff">
        <th></th>
        <th>Nº Colaborador</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telemóvel</th>
        <th>Skype</th>
        <th>Data Nascimento</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr class="user_detail">
        <td class="user_photo_detaill" style ="background-image: url('<%= user.avatar.url(:medium) %>');">
        </td>
        <td><%= user.colaborator_number %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.mobile_number %></td>
        <td><%= user.skype_name %></td>
        <td><%= date_with_format(user.birthdate) %></td>
      <!--   <td><%#= link_to 'Ver', user %></td>
        <td><%#= link_to 'Editar', edit_user_path(user) %></td> -->
    </tbody>
      </tr>
      <% end %>
    </tbody>
  </table>



<!--   <%#= link_to 'Adicionar Novo', new_user_path %> -->


</div>
