<div class="user_image_background" style="background: url(<%= @user.avatar.url(:large) %>)">
  <div><%= @user.name %></div>
  <div><ahref="<%= edit_user_path(@user) %>">Ver</a></div>
</div>

<p id="notice"><%= notice %></p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Nº Colaborador</th>
      <th>Nome</th>
      <th>Telemóvel</th>
      <th>Skype</th>
      <th>Data Nascimento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img style="height: 30px; height: 30px;" src="<%= @user.avatar.url(:thumb) %>"></td>
      <td><%= @user.colaborator_number %></td>
      <td><%= @user.name %></td>
      <td><%= @user.mobile_number %></td>
      <td><%= @user.skype_name %></td>
      <td><%= date_with_format(@user.birthdate) %></td>
    </tr>
  </tbody>
</table>