<% url, method = @team.id.nil? ? [calendars_admin_teams_path, :post] : [calendars_admin_team_path(@team), :put] %>

<%= form_for(@team, url: url, html: { method: method }) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2>Corrija os seguintes <%= pluralize(@team.errors.count, "erro") %>:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <label>Gestores</label><br/>
    <% User.all.each do |user| %>
      <label>
        <%= check_box_tag 'team[manager_ids][]', user.id, @team.is_manager?(user) ? true : false %>
        <%= "#{user.name} (#{user.email})" %>
      </label>
      <br/>
    <% end %>

    <label>Membros</label><br/>
    <% User.all.each do |user| %>
      <label>
        <%= check_box_tag 'team[member_ids][]', user.id, @team.is_member?(user) ? true : false %>
        <%= "#{user.name} (#{user.email})" %>
      </label>
      <br/>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Criar equipa' %>
  </div>
<% end %>
