<% @teams.each do |team| %>
  <div class="vboard-team-button">
     <label>
        <input class='vboard-team-selector' type="checkbox" value="<%= team.id %>" checked><span><%= team.name %></span>
     </label>
  </div>
<% end %>

<table>
  <% @teams.each do |team| %>
    <% team.members.each do |member| %>
      <tr class='vboard-team-members' data-team-id='<%= team.id %>' data-member-id='<%= member.id %>'>
        <td><%= member.name %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<div id='vboard-table-container'>
  <table id='vboard-days-table'></table>
</div>

<button id='vboard-prev-vacation'><<</button>
<button id='vboard-next-vacation'>>></button>

<script>
  $(function() {
    $.vboard.init();
  });
</script>