<button class="add_calendar" onclick="$.calendar.toggleMode(this); console.log($.calendar.mode)">Ver</button>
<% @home_presenter.date = DateTime.new(@home_presenter.year, month_ord, 1) %>
<table class="calendar_legend">
  <thead>
    <tr class="calendar_info">
      <td>teste</td>
    </tr>
    <tr class="calendar_info">
      <td>teste</td>
    </tr>
  </thead>
</table>

<table class="month month_big ">
  <thead>
    <tr class="week_days">
      <td>Seg</td>
      <td>Ter</td>
      <td>Qua</td>
      <td>Qui</td>
      <td>Sex</td>
      <td class="weekend">Sab</td>
      <td class="weekend">Dom</td>
    </tr>
  </thead>
  <tbody>
    <% first_week_day = @home_presenter.first_day_of_month_weekday %>
    <% day_of_month = 1 - first_week_day %>

    <% # mega hack to start sunday weeks properly. %>
    <% day_of_month = -5 if day_of_month == 2 %>

    <% (0..5).to_a.each do |week_in_month| %>
      <tr>
        <% (0..6).to_a.each do |day_of_week| %>
          <% current_day_of_month = day_of_month + day_of_week #day_of_month is increased by 7 at the end %>

          <% temp_current_day_of_month = current_day_of_month %>

          <% classes = "day #{'current_day' if @home_presenter.today?(current_day_of_month)} #{'weekend' if day_of_week > 4}" %>

          <% if @home_presenter.day_not_in_current_month(current_day_of_month) %>
            <% classes.gsub!("weekend", "") %>
            <% classes += "not_this_month" %>
            <% temp_current_day_of_month = @home_presenter.convert_negative_n_of_day_to_previous_month_day(temp_current_day_of_month) %>
          <% end %>

          <% if @home_presenter.vacations_in_this_day?(current_day_of_month) %>
            <% classes += ' with_events'  %>
          <% end %>

          <% date = @home_presenter.beggining_of_month %>
          <% date = date + 1.month if current_day_of_month > @home_presenter.num_days_in_month  %>
          <% date = date - 1.month if current_day_of_month < 0  %>
          <% month = date.month %>
          <% year = date.year %>
          <td class="<%= classes %>" onclick="$.calendar.dayClicked(this)" data-date='<%= "#{year} - #{month} - #{temp_current_day_of_month}" %>' data-year="<%= year %>" data-month="<%= month %>" data-day="<%= temp_current_day_of_month %>">
            <div class="md-trigger" data-modal="modal-1">
              <%= (temp_current_day_of_month) %>
            </div>
          </td>
        <% end %>
      </tr>
      <% day_of_month += 7 %>
    <% end %>
  </tbody>
</table>

<table class="days_info">
  <thead>
    <tr class="dmy_info">
      <td>Nr. Colegas</td>
    </tr>
    <tr>
      <td><div class="square_number">3</div></td>
    </tr>
    <tr class="names_space">
      <td><div class="member_name">Joaquins de Adrazes</div></td>
    </tr>
  </thead>
</table>


<script>
  $(function() {
    $.calendar.showWantedVacationDays();
  })
</script>