<% @home_presenter.date = DateTime.new(@home_presenter.year, month_ord, 1) %>

<% month_big ||= false %>
<% unless month_big %>
  <span class="month_name"><%= "#{@home_presenter.name_of_month}" %></span>
<% end %>

<table class="month <%= 'month_big' if month_big %>">
  <thead>
    <tr class="week_days">
      <td>Seg</td>
      <td>Ter</td>
      <td>Qua</td>
      <td>Qui</td>
      <td>Sex</td>
      <td class="weekend">Sab</td>
      <td class="weekend">Dom</td>
    </tr>
  </thead>
  <tbody>
    <% first_week_day = @home_presenter.first_day_of_month_weekday %>
    <% day_of_month = 1 - first_week_day %>

    <% # mega hack to start sunday weeks properly. %>
    <% day_of_month = -5 if day_of_month == 2 %>

    <% (0..5).to_a.each do |week_in_month| %>
      <tr>
        <% (0..6).to_a.each do |day_of_week| %>
          <% current_day_of_month = day_of_month + day_of_week #day_of_month is increased by 7 at the end %>

          <% temp_current_day_of_month = current_day_of_month %>

          <% classes = "day #{'current_day' if @home_presenter.today?(current_day_of_month)} #{'weekend' if day_of_week > 4}" %>

          <% if @home_presenter.day_not_in_current_month(current_day_of_month) %>
            <% classes.gsub!("weekend", "") %>
            <% classes += "not_this_month" %>
            <% temp_current_day_of_month = @home_presenter.convert_negative_n_of_day_to_previous_month_day(temp_current_day_of_month) %>
          <% end %>

          <% has_vacations_in_day = @home_presenter.vacations_in_this_day?(current_day_of_month) %>
          <% if has_vacations_in_day %>
            <% classes += ' with_events'  %>
          <% end %>

          <td class="<%= classes %>" data-date="<%= date_with_format(@home_presenter.date_for_current_day_of_month(current_day_of_month), '%Y-%m-%d') %>">
            <div class="vacations_of_day_container">
              <% if has_vacations_in_day %>
                <% vacations = @home_presenter.vacations_in_day(current_day_of_month) %>
                <div class="day_vacation_users" style="display: none" data-users_count="<%= vacations.length %>">
                <% vacations.each do |vacation| %>
                  <div class="member_name"><%= vacation.calendars_user.name %></div>
                <% end %>
                </div>
              <% end %>
            </div>
            <div class="month_day_number">
              <%= temp_current_day_of_month %>
            </div>
          </td>
        <% end %>
      </tr>
      <% day_of_month += 7 %>
    <% end %>
  </tbody>
</table>