<button class="add_calendar" onclick="$.calendar.toggleMode(this); console.log($.calendar.mode)">Ver</button>

<% beggining_of_month = DateTime.new(@date.year, month_ord, 1) %>
<% num_days_in_month = beggining_of_month.end_of_month.day %>
<% num_days_prev_month = (beggining_of_month -1.day).day %>
<% month_num = month_number(beggining_of_month) %>

<!-- <span class="month_name"><%= "#{month_name(beggining_of_month)}" %></span> -->
<!-- <div class="row"></div> -->

<table class="calendar_legend">
  <thead>
    <tr class="calendar_info">
      <td>teste</td>
    </tr>
    <tr class="calendar_info">
      <td>teste</td>
    </tr>
  </thead>
</table>

<table class="month month_big ">
  <thead>
    <tr class="week_days">
      <td>Seg</td>
      <td>Ter</td>
      <td>Qua</td>
      <td>Qui</td>
      <td>Sex</td>
      <td class="weekend">Sab</td>
      <td class="weekend">Dom</td>
    </tr>
  </thead>
  <tbody>
    <% first_week_day = beggining_of_month.wday - 1 %>
    <% day_of_month = 1 - first_week_day %>

    <% # mega hack to start sunday weeks properly. %>
    <% day_of_month = -5 if day_of_month == 2 %>

    <% (0..5).to_a.each do |week_in_month| %>
      <tr>
        <% (0..6).to_a.each do |day_of_week| %>
          <% current_day_of_month = day_of_month + day_of_week #day_of_month is increased by 7 at the end %>
          <% classes = "day #{'with_events hvr-buz' if [true, false].sample} #{'current_day' if today?(@year, month_num, current_day_of_month)} #{'weekend' if day_of_week > 4}" %>

          <% before_end_of_month = current_day_of_month <= num_days_in_month %>
          <% after_beggining_of_month = current_day_of_month > 0 %>
          <% show_day = before_end_of_month && after_beggining_of_month %>

          <% temp_current_day_of_month = current_day_of_month %>
          <% if current_day_of_month > num_days_in_month %>
            <% classes.gsub!("weekend", "") %>
            <% classes += "not_this_month" %>
            <% temp_current_day_of_month = temp_current_day_of_month - num_days_in_month %>
          <% elsif current_day_of_month < 1 %>
            <% classes.gsub!("weekend", "") %>
            <% classes += "not_this_month" %>
            <% temp_current_day_of_month = num_days_prev_month - (-temp_current_day_of_month) %>
          <% end %>

          <% date = beggining_of_month %>
          <% date = date + 1.month if current_day_of_month > num_days_in_month  %>
          <% date = date - 1.month if current_day_of_month < 0  %>
          <% month = date.month %>
          <% year = date.year %>
          <td class="<%= classes %>" onclick="$.calendar.dayClicked(this)" data-date='<%= "#{year} - #{month} - #{temp_current_day_of_month}" %>' data-year="<%= year %>" data-month="<%= month %>" data-day="<%= temp_current_day_of_month %>">
            <div class="md-trigger" data-modal="modal-1">
              <%= (temp_current_day_of_month) %>
            </div>
          </td>
        <% end %>
      </tr>
      <% day_of_month += 7 %>
    <% end %>
  </tbody>
</table>

<table class="days_info">
  <thead>
    <tr class="dmy_info">
      <td>Nr. Colegas</td>
    </tr>
    <tr>
      <td><div class="square_number">3</div></td>
    </tr>
    <tr class="names_space">
      <td><div class="member_name">Joaquins de Adrazes</div></td>
    </tr>
  </thead>
</table>


<script>
  $(function() {
    $.calendar.showWantedVacationDays();
  })
</script>