<div class="user_container">
	<div class="bg_user" style="background-image: url('<%= current_user.avatar.url(:large) %>');">
		<div class="user_photo" style="background-image: url('<%= current_user.avatar.url(:medium) %>');"></div>
		<h2><%= current_user.name %></h2>
		<a href="<%= user_path(current_user) %>">Ver perfil</a>
	</div>
</div>

<%= render 'date_navigations' %>

<% if @home_presenter.year_view? %>
  <%= render 'year_view' %>
<% else %>
  <%= render 'month_view', month_ord: @home_presenter.month %>
<% end %>

<script>
  $(function() {
    $.calendar.showWantedVacationDays();
  })
</script>