<div class="user_container">
	<div class="bg_user">
		<div class="blurr_img">
      <div class="user_photo" style="background-image: url('<%= current_user.avatar.url(:medium) %>');">
      </div>
    </div>
		<h2><%= current_user.name %></h2>
		<a href="<%= user_path(current_user) %>">Ver perfil</a>
	</div>
</div>

<div id="date_view_container">
  <%= render 'date_navigations' %>

  <% if @home_presenter.year_view? %>
    <%= render 'year_view' %>
  <% else %>
      <%= render 'month_view', month_ord: @home_presenter.month %>
  <% end %>
</div>

<div class="vacations_sub">
  <button class="submit_vacations"onclick="$.calendar.submitVacations();">Submeter</button>
  <p> Depois de submeteres, vais receber uma notificação com o resultado. Boa sorte!</p>
</div>

<script>
  $(function() {
    $.calendar.showWantedVacationDays();
  })
</script>