<% if @show_year %>
  <div>
    <a href="/?show_year=true&year=<%= @year - 1%>"><%= @year - 1 %></a>
    <%= @year %>
    <a href="/?show_year=true&year=<%= @year + 1 %>"><%= @year + 1 %></a>
  </div>
<% else %>
  <div>
    <% previous_month = @date - 1.month %>
    <% next_month = @date + 1.month %>
    <a href='/?<%= "year=#{previous_month.year}&month=#{previous_month.month}" %>'><%= date_with_format(previous_month, "%B de %Y") %></a>
    <%= date_with_format(@date, "%B de %Y") %>
    <a href='/?<%= "year=#{next_month.year}&month=#{next_month.month}" %>'><%= date_with_format(next_month, "%B de %Y") %></a>
  </div>
<% end %>


<% if @show_year %>
  Vista anual
  <a href="/">Vista mensal</a>
<% else %>
  <a href="/?show_year=true">Vista anual</a>
  Vista Mensal
<% end %>

<input type="checkbox" data-labelauty="|"/>
<script>
  $(function() {
    $(document).ready(function(){
        $(":checkbox").labelauty();
    });
  })
</script>


<% if @show_year %>
  <%= render 'year' %>
<% else %>
  <% @year = @date.year %>
  <%= render 'month_big', month_ord: @date.month %>
<% end %>


<div class="md-overlay"></div>

<div class="md-modal md-effect-1 md-perspective" id="modal-1">
  <div class="md-content">
    <h3>Modal Dialog</h3>
    <div>
      <p>This is a modal window. You can do the following things with it:</p>
      <ul>
        <li><strong>Read:</strong> Modal windows will probably tell you something important so don't forget to read what it says.</li>
        <li><strong>Look:</strong> modal windows enjoy a certain kind of attention; just look at it and appreciate its presence.</li>
        <li><strong>Close:</strong> click on the button below to close the modal.</li>
      </ul>
      <button class="md-close" onclick="$('#modal-1').removeClass('md-show md-perspective')">Close me!</button>
    </div>
  </div>
</div>
