<!DOCTYPE html>
<html>
<head>
  <title>LinkedTeam</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div style="align: center">
    <%= yield %>
  </div>

</body>
</html>

<% if flash[:sign_in_failure].present? %>
<script>
  <% if flash[:sign_in_failure] == 'invalid_hosted_domain' %>
    swal({
      type:  "warning",
      title: "<%= t('.invalid_hosted_domain_title') %>",
      text:  "<%= t('.invalid_hosted_domain_text') %>"
    });
  <% end %>
</script>
<% end %>